.trash { color:rgb(209, 91, 71); }

.user-list {
	li {
		display: flex;
		border: none;
		border-bottom: 1px lightgray solid;
		margin-bottom: 0;
		&:last-child { border-bottom: none; }

		.user-info {
			flex-grow: 1;

			.activity-detail th {
			  text-align: center;
			  padding-left: 2em;
      }
 			.activity-detail td {
			  text-align: left;
			  padding-left: 2em;
      }
		}
		.trash {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
}

