@import '_font-awesome';
@import '_bootstrap';
@import '_stylePreloader';
@import '_animate';

$orange:     #FF9F1C;
$offline:    rgba(204, 0, 0, 0.6);
$online:     rgba(13, 170, 0, 0.6);
$navtex:     #7c7c7c;
$gray:       rgba(0, 0, 0, 0.4);
