:root {
    --orange: #FF9F1C;
    --offline: #ef0000;
    --online: #0daa00;
    --navtex: #7c7c7c;
}

#spacer{
    height: 600px
}

body
    {
        background: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
body.modal-open {
    overflow: visible;
}
.tm-white a {
	color: #fff;
}

/* start h1 group */
h1 { 
    margin-top: 0;
    margin-bottom: 25px; 
}
h1,
h2,
h3,
h4
    {
        font-weight: bold;
    }
/* end h1 group */
p { line-height: 1.6em; }
/* img */
img
    {
        max-width: 100%;
        height: auto;
    }
/* img */

/* overlay */
.overlay 
    {
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.4);
       padding-top: 90px;
       padding-bottom: 90px;
    }  
/* over lay */

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* end page container */

/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        /*justify-content: center;*/
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-rotating-plane.sk-spinner 
    {
         width: 30px;
        height: 30px;
        background-color: var(--orange);
         margin: 0 auto;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* start navigation */
.navbar-default
    {
        background: rgba(83, 83, 83, 0.34);
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0!important;
    }
.navbar-default .navbar-brand
    {
        color: var(--orange);
        font-size: 30px;
        font-weight: bold;
        height: 70px;
        line-height: 35px;
    }
.navbar-default .nav li a
    {
        color: var(--navtex);
        font-size: 13px;
        font-weight: bold;
        height: 70px;
        line-height: 40px;
    }
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: var(--orange);
    }

.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 20px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: var(--orange);
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start login */
#login
    {
        position: fixed;
        color: #fff;
        background-color: #fff;
    }
#login h2
    {
        text-align: center;
        color: #333;
        padding-bottom: 10px;
    }
#login label
    {
        color: #333;
        text-align: right;
        height: 15;  
    }
#login .login-form
    {
        padding: 20px;
    }
#login input
    {
        height: 40px;
        width: 100%;
        color: #333;
        padding-bottom: 10px;
    }
#login button[type="submit"]
    {
        float: right;
    }
#login input[type="checkbox"]
    {
        height: 15px;
        float: left;
    }
#login button
    {
        width: 99%;
        border-radius: 0px;
        font-weight: bold;
        background: var(--orange);
        border-color: var(--orange);
        padding: 10px 40px 10px 40px;
    }
#login .padding
    {
        padding: 5px;
    }
/* end login */
/* start myaccount */
#myacc
    {
        position: fixed;
        color: #333;
        width: auto;
        background-color: transparent;
    }
#myacc h2
    {
        text-align: center;
        color: #333;
        padding-bottom: 10px;
        padding-left: 10px;
    }
#myacc p
    {
        color: #333;
        padding-bottom: 5px;
    }
#myacc span
    {
        color: var(--orange);
        padding-bottom: 10px;
    }
#myacc .acc-form
    {
        padding: 20px;
    }
#myacc input
    {
        height: 40px;
        width: 100%;
        color: #333;
        padding-bottom: 10px;
    }
#myacc button[type="submit"]
    {
        margin-top: 15px;
        float: right;
    }
#myacc button
    {
        width: 99%;
        border-radius: 0px;
        font-weight: bold;
        background: var(--orange);
        border-color: var(--orange);
        padding: 10px 40px 10px 40px;
    }
#myacc .btn-close
    {
        margin-top: 15px;
        margin-left: 10px;
    }
#myacc .bg
    {
        padding-bottom: 15px;
        background-color: #fff;
    }
#myacc .margin
    {
        margin-top: 15px;
        margin-left: 15px;
    }
#myacc .center
    {
        width: 0px;
    }
#myacc .col-centered 
    {
        float:none;
        margin: 0 auto;
    }
/* end myaccount */

/* start home */       
#home
    {
    background: url('../images/home-bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    width: 100%;
    }
#home p
    {
        font-weight: 400;
        font-style: italic;
        line-height: 2em;
        padding-bottom: 300px;
    }
#home h1
    {
        padding-top: 400px;
    }
/* end home */

/* start divider */
#divider
    {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#divider .fa
    {
        color: var(--orange);
        font-size: 60px;
    }
#divider h3
    {
        font-size: 20px;
    }
/* end divider */

/* start news */
#news
    {
        background: #f8f8f8;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#news p
    {
        padding-top: 10px;
    }
#news span
    {
        float: left;
    }
#news .fa
    {
        background: var(--orange);
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }
/* end news */

/* start news1 */
#news1
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
#news1 p
    {
        padding-top: 10px;
    }
#news1 span
    {
        float: left;
    }
#news1 .fa
    {
        background: var(--orange);
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
    }
/* end news1 */

/* start servers */
#servers
    {
        background: #f8f8f8;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#servers h2
    {
        padding-bottom: 60px;
    }
#servers .servers
    {
        background: #fff;
    }
#servers .active
    {
        position: relative;
        bottom: 20px;
    }
#servers .servers .servers-title
    {
        color: #fff;
        font-weight: bold;
        padding: 30px;
    }
#servers .servers .servers-title p
    {
        font-size: 20px;
    }
#servers .servers ul
    {
        padding: 0;
        margin: 0;
    }
#servers .servers ul li
    {
        display: block;
        list-style: none;
        padding: 16px;
    }
#servers a
    {
        text-decoration: none;
        color: var(--orange)
    }
#servers .servers .btn
    {
        background: transparent;
        border: 1px solid var(--orange);
        border-radius: 0px;
        color: var(--orange);
        font-weight: bold;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        transition: all 0.3s ease;
    }
#servers .servers .btn:hover {
    background: var(--orange);
    color: #fff;
}
#servers #server-mod
    {
        background-color: var(--online)
    }
#servers #server-ts
    {
        background-color: var(--online)
    }
#servers #server-pvp
    {
        background-color: var(--online)
    }
/* end servers */

/* start pvp modal*/
#pvp
    {
        position: fixed;
        color: #fff;
        height: 250px;
        background-color: #fff;
    }
#pvp .text
    {
        text-align: center;
        color: #333;
        padding-bottom: 10px;
    }
#pvp button
    {
        border-radius: 0px;
        font-weight: bold;
        background: var(--orange);
        border-color: var(--orange);
        padding: 10px 40px 10px 40px;
    }
#pvp .padding
    {
        padding-left: 30px;
    }
/* end pvp modal*/

/* start modded modal*/
#modded
    {
        position: fixed;
        color: #fff;
        height: 450px;
        background-color: #fff;
    }
#modded .text
    {
        text-align: center;
        color: #333;
        padding-bottom: 10px;
    }
#modded .info
    {
        text-align: center;
        color: var(--orange);
    }
#modded .table
    {
        text-align: center;
        color: #333;
    }
#modded th
    {
        text-align: center;
    }
#modded i
    {
        text-align: center;
        color: var(--orange);
        padding-bottom: 10px;
    }
#modded li
    {
        padding-left: -10px;
        float: left;
        text-align: left;
        color: #333;
    }

#modded button
    {
        border-radius: 0px;
        font-weight: bold;
        background: var(--orange);
        border-color: var(--orange);
        padding: 10px 40px 10px 40px;
    }
#modded .padding
    {
        padding-left: 30px;
    }
/* end modded modal*/

/* start download */
#download
    {
        padding-top: 80px;
        padding-bottom: 80px;
    }
#download h2
    {
        padding-bottom: 20px;
    }
#download .btn
    {
        border-radius: 0px;
        font-weight: bold;
        margin-top: 20px;
        background: var(--orange);
        border-color: var(--orange);
        padding: 10px 40px 10px 40px;
    }
/* end download */

/* start register */
#register
    {
        background-position: top;
        background: url('../images/register-bg.jpg') no-repeat;
        background-size: cover;
        color: #fff;
    }
#register h2
    {
        padding-bottom: 10px;
    }
#register access
    {
        padding-top: 20px;
    }
#register access .fa
    {
        background: var(--orange);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 6px;
        margin-right: 10px;
    }
#register .register-form
    {
        padding-top: 40px;
    }
#register .form-control
    {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 20px;
    }
#register input
    {
        height: 50px;
    }
#register input[type="submit"]
    {
        background: var(--orange);
        color: #fff;
        font-weight: bold;
        transition: all 0.3s ease;
    }
/* end register */


/* start footer */
footer
    {
        background: #fff;
        font-weight: 400;
        text-align: center;
        padding: 20px;
    }
/* end footer */

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #servers .active {
        bottom: 0;
    }
    .servers {
        margin-bottom: 20px;
    }
    #news img, #download img {
        margin-top: 30px;
    }
    #news1 img {
        margin-bottom: 30px;
    }
}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #news, #servers, #download {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #register .overlay {
        padding-top: 40px;
    }
    #login .overlay {
        padding-top: 40px;
    }
    #home p
        {
            padding-bottom: 250px
        }
    #home h1
        {
            padding-top: 260px
        }
}
/* start media 360 */
@media screen and ( max-width: 360px ){
    .servers
        {
            padding-bottom: 40px;
        }
    #home p
        {
            padding-bottom: 250px
        }
    #home h1
        {
            padding-top: 260px
        }
}
/* end media 360 */