/* modal stuff */
#MODAL {
  float: none;
  margin: 0 auto;
}
#MODAL h2 {
  text-align: center;
  color: #333;
  padding-bottom: 10px;
  padding-left: 10px;
}
#MODAL h3 {
  text-align: center;
  color: #333;
  padding-bottom: 10px;
  padding-left: 10px;
}
#MODAL p {
  text-align: center;
  color: #333;
  padding-bottom: 5px;
}
#MODAL span {
  color: var(--orange);
  padding-bottom: 10px;
}
#MODAL a {
  color: var(--orange);
}
#MODAL button {
  width: 99%;
  /* bugged needs to be 99% */
  border-radius: 0px;
  font-weight: bold;
  background: var(--orange);
  border-color: var(--orange);
  padding: 10px 40px 10px 40px;
}
#MODAL .bg {
  margin-top: 15px;
  margin-left: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}
#MODAL .padding {
  padding: 5px;
}
#MODAL i {
  text-align: center;
  color: var(--orange);
  padding-bottom: 10px;
}
#MODAL ul {
  padding: 0;
  margin: 0;
}
#MODAL li {
  display: block;
  list-style: decimal;
  padding: 15px;
}
/* modal form style*/
#MODAL .form-form {
  padding: 20px;
}
#MODAL input {
  height: 40px;
  width: 100%;
  color: #333;
  margin-bottom: 15px;
}
#MODAL button[type="submit"] {
  background: var(--orange);
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}
#MODAL input[type="checkbox"] {
  height: 15px;
  float: left;
}
/* modal table style*/
#MODAL .table {
  text-align: center;
  color: #333;
}
#MODAL th {
  text-align: center;
}
#MODAL li {
  padding-left: -10px;
  float: left;
  text-align: left;
  color: #333;
}
/*           modals
for each modal you add just copy*/
#login {
  position: fixed;
  color: #fff;
  width: auto;
  background-color: transparent;
  height: auto;
}
#myacc {
  position: fixed;
  color: #333;
  width: auto;
  background-color: transparent;
  height: auto;
}
#pve {
  position: fixed;
  color: #fff;
  width: auto;
  background-color: transparent;
  height: auto;
}
#pvp {
  position: fixed;
  color: #fff;
  width: auto;
  background-color: transparent;
  height: auto;
}
/* end modal stuff*/

/* start media 991 */
@media screen and ( max-width: 991px) {
  #MODAL .bg {
    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
    padding-top: 3px;
    background-color: #fff;
  }
}
/* end media 991 */

/* start media 767 */
@media screen and ( max-width: 767px) {
}
/* end media 767 */

/* start media 360 */
@media screen and ( max-width: 360px) {
  #MODAL h2 {
    font-size: 22px;
  }
  #MODAL h3 {
    font-size: 18px;
  }
  #MODAL p {
    font-size: 14px;
  }
  #MODAL .table {
    font-size: 12px;
  }
  #MODAL .table {
    font-size: 12px;
  }
}
/* end media 360 */
